bin
develop-eggs
dist
downloads
eggs
fabfile/environment.py
parts
src/*.egg-info
var/*
.DS_Store
.coverage
.installed.cfg
.ropeproject
*.egg-info
*.pyc
*.pyo
*.swp
*.sublime-project
*.sublime-workspace
